.product__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 0px 24px 0;
}
.product::after {
    content: "";
    margin-top: 0px;
    height: 1px;
    width: 96%;
    background: rgb(222, 225, 230);
    display: block;
    margin-left: 2%;
}
.product__name, .product__price {
    font-weight: 500;
    font-size: 20px;
}
.product__price {
    text-align: right;
}